project:
  type: website

website:
  title: "Shang Jing"
  navbar:
    right:
      - about.qmd

format:
  html:
    theme: flatly
    css: styles.css
    toc: false

metadata:
  robots: "noindex, nofollow"